body {
  font-family: sans-serif;
}

.app {
  padding: 40px;
}

button {
  font-size: 20px;
  padding: 10px 16px;
  margin-top: 10px;
}

.modal {
  margin-top: 20px;
  padding: 15px;
  background: #222;
  color: white;
  border-radius: 6px;
}
